.modal {
  display: none;

  &__overflow {
    position: absolute;
    z-index: 45;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition-duration: 0.5s;
    background-color: $background;
  }

  &__body {
    display: none;
    position: absolute;
    top: 106px;
    width: 273px;
    height: 319px;
    z-index: 10;
    left: 24px;
    background-color: $white;
    padding: 14px;
  }

  &__close {
    position: absolute;
    top: 14px;
    right: 14px;
    color: gray;
    font-size: 20px;
    background-color: inherit;
    border: none;
  }
}

.modal-settings, .modal-code, .modal-authorization {
  
  &__body {
    padding-top: 70px;
  }

  &__form {
    padding-top: 8px;
  }

  &__input {
    padding: 7px;
    width: 207px;
  }

  &__send {
    margin-top: 7px;
    padding: 7px;
    background-color: $white;
    border: 1px solid #000000;
  }
}


.modal-active {
  display: block;
}